.navbar-toggler {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.factorial-nav-menu {
    background-image: url('data:image/svg+xml, <svg class="icon icon-tabler icon-tabler-math-function" fill="none" height="24" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" stroke="none"/><path d="M14 10h1c1 0 1 1 2.016 3.527c.984 2.473 .984 3.473 1.984 3.473h1"/><path d="M13 17c1.5 0 3 -2 4 -3.5s2.5 -3.5 4 -3.5"/><path d="M3 19c0 1.5 .5 2 2 2s2 -4 3 -9s1.5 -9 3 -9s2 .5 2 2"/><line x1="5" x2="11" y1="12" y2="12"/></svg>');
}

.factorial-nav-menu {
    background-image: url('data:image/svg+xml, <svg class="icon icon-tabler icon-tabler-math-function" fill="none" height="24" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none" stroke="none"/><path d="M14 10h1c1 0 1 1 2.016 3.527c.984 2.473 .984 3.473 1.984 3.473h1"/><path d="M13 17c1.5 0 3 -2 4 -3.5s2.5 -3.5 4 -3.5"/><path d="M3 19c0 1.5 .5 2 2 2s2 -4 3 -9s1.5 -9 3 -9s2 .5 2 2"/><line x1="5" x2="11" y1="12" y2="12"/></svg>');
}

.bitcoin-nav-menu {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><path d="M63.043 39.76C58.766 56.866 41.424 67.32 24.24 63.043 7.134 58.766-3.32 41.424.957 24.24 5.234 7.134 22.576-3.32 39.76.957 56.866 5.234 67.32 22.576 63.043 39.76z" fill="orange"/><path d="M46.096 27.407c.634-4.276-2.613-6.573-7.048-8.077l1.425-5.78-3.484-.87-1.425 5.623c-.95-.238-1.9-.475-2.85-.634l1.425-5.623-3.484-.87-1.425 5.78c-.792-.158-1.505-.317-2.217-.554l-4.83-1.188-.95 3.722 2.534.634c1.425.317 1.663 1.267 1.663 2.06l-1.666 6.57c.08 0 .238.08.396.08-.08 0-.238-.08-.396-.08l-2.297 9.186c-.158.396-.634 1.1-1.584.87 0 .08-2.534-.634-2.534-.634l-1.742 4.04 4.593 1.1c.87.238 1.663.475 2.534.634l-1.425 5.86 3.484.87 1.425-5.78L29 45.07l-1.425 5.78 3.484.87 1.425-5.86c6.018 1.1 10.453.713 12.354-4.75 1.505-4.355-.08-6.9-3.247-8.553 2.376-.475 4.04-1.98 4.514-5.147zM38.098 38.73c-1.1 4.355-8.394 1.98-10.77 1.425l1.9-7.76c2.376.554 9.978 1.742 8.87 6.335zm1.1-11.324c-.95 3.96-7.127 1.98-9.107 1.425l1.742-7.048c1.98.554 8.394 1.425 7.365 5.623z" fill="white"/></svg>');
}

.power-nav-menu {
    background-image: url('data:image/svg+xml, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 110 110" style="enable-background:new 0 0 110 110;" xml:space="preserve"> <g id="_x0A_formula"> <g> <path fill="white" style="fill-rule:evenodd;clip-rule:evenodd;" d="M87.792,60.94c-0.419-1.67-0.695-3.403-0.774-5.12 c-0.126-2.653-0.132-5.321,0.003-7.975c0.14-2.755,0.357-5.521,1.973-7.951c0.94-1.414,0.994-3.052,0.755-4.69 c-0.166-1.139-1.157-2.089-2.305-2.291c-1.884-0.33-3.465,0.403-4.298,2.15c-0.441,0.93-0.805,1.941-0.955,2.952 c-0.228,1.538-0.854,2.879-1.672,4.144c-1.702,2.629-3.115,5.396-4.247,8.316c-0.247,0.641-0.602,1.249-0.976,1.826 c-0.331,0.51-0.853,0.739-1.485,0.699c-0.514-0.033-0.869-0.477-0.913-1.249c-0.032-0.577-0.059-1.157-0.037-1.733 c0.129-3.357-0.153-6.695-0.488-10.029c-0.091-0.904-0.307-1.814-0.601-2.678c-0.321-0.941-1.076-1.487-2.074-1.616 c-0.571-0.073-1.153-0.092-1.729-0.092c-1.137-0.001-1.951,0.517-2.532,1.513c-0.791,1.359-0.871,2.697,0.272,3.811 c0.938,0.91,1.113,1.938,1.101,3.13c-0.026,2.544,0.016,5.087-0.016,7.63c-0.019,1.295,0.183,2.54,0.678,3.724 c0.648,1.552,1.66,2.726,3.364,3.24c3.246,0.978,6.153,0.6,8.613-1.913c0.233-0.238,0.565-0.379,0.851-0.563 c0.118,0.291,0.338,0.582,0.337,0.874c-0.005,2.223,0.567,4.343,1.119,6.464c1.166,4.483,2.084,9.001,1.892,13.039 c0,2.136,0.016,3.64-0.004,5.142c-0.02,1.627-0.301,3.195-0.805,4.758c-0.701,2.173-2.179,3.238-4.347,3.321 c-2.424,0.096-4.856,0.102-7.28,0.009c-1.747-0.068-3.392-0.674-4.927-1.514c-1.076-0.588-1.483-1.413-1.199-2.582 c0.27-1.115,0.532-2.268,1.04-3.283c1.242-2.48,2.751-4.811,4.459-7.007c0.938-1.208,2.036-1.775,3.619-1.265 c0.86,0.279,1.806,0.383,2.717,0.401c1.529,0.03,2.738-0.991,2.977-2.362c0.186-1.061-0.409-2.27-1.583-2.83 c-1.246-0.595-2.529-1.188-3.863-1.508c-1.951-0.47-3.886-0.283-5.702,0.754c-1.229,0.702-2.263,1.609-3.142,2.688 c-2.345,2.877-4.306,6.002-5.931,9.34c-1.094,2.246-1.382,4.615-1.252,7.082c0.095,1.838,0.848,3.322,2.105,4.615 c1.241,1.276,2.77,2.094,4.399,2.698c5.592,2.075,11.297,2.11,17.035,0.728c2.619-0.631,4.491-2.322,5.764-4.646 c0.55-1.006,0.969-2.092,1.358-3.173c1.773-4.933,1.387-10.034,0.979-15.093C89.744,68.797,88.776,64.861,87.792,60.94z M34.726,60.647c-1.469,0.469-2.761,1.237-3.637,2.519c-1.105,1.619-2.131,3.295-3.161,4.963c-0.414,0.673-0.991,0.96-1.735,0.885 c-2.146-0.217-3.964-1.161-5.545-2.594c-0.812-0.734-1.282-1.645-1.244-2.753c0.056-1.616,0.097-3.237,0.263-4.845 c0.068-0.663,0.424-1.305,0.698-1.936c0.043-0.101,0.416-0.188,0.503-0.118c0.445,0.361,0.82,0.812,1.27,1.164 c0.732,0.573,1.464,0.513,2.234-0.001c0.726-0.484,1.224-1.188,1.298-1.97c0.161-1.715,0.18-3.451,0.145-5.177 c-0.02-0.98-0.65-1.711-1.446-2.256c-2.559-1.757-5.79-1.345-7.788,1.068c-0.73,0.885-1.272,1.926-1.905,2.892 c-0.398,0.606-0.892,0.525-1.248-0.205c-0.303-0.622-0.511-1.308-0.902-1.864c-2.196-3.111-4.996-3.092-7.717-0.842 c-0.266,0.221-0.495,0.488-0.713,0.758c-1.466,1.808-2.634,3.793-3.55,5.932c-0.516,1.207-0.595,2.469-0.524,3.743 c0.071,1.304,1.062,2.404,2.32,2.688c1.28,0.289,2.546-0.274,3.198-1.512c0.32-0.606,0.507-1.285,0.749-1.934 c0.239-0.646,0.432-1.313,0.726-1.934c0.128-0.275,0.435-0.602,0.697-0.639c0.196-0.025,0.492,0.348,0.665,0.597 c0.122,0.175,0.1,0.445,0.159,0.669c1.044,3.935,1.53,7.934,1.356,12.004c0,1.735,0.036,3.472-0.018,5.205 c-0.021,0.68-0.217,1.358-0.378,2.025c-0.101,0.425-0.769,0.658-1.108,0.396c-1.003-0.778-1.978-1.594-2.981-2.372 c-0.921-0.714-1.892-0.741-2.916-0.187c-1.515,0.82-2.045,2.224-1.307,3.797c1.066,2.271,2.771,4.046,4.947,5.19 c4.02,2.115,7.898,0.479,9.399-3.37c0.634-1.625,1.177-3.258,1.233-5.018c0.022-0.692,0.028-1.387,0.061-2.08 c0.032-0.66,0.325-0.865,0.832-0.587c0.606,0.335,1.181,0.733,1.802,1.036c2.304,1.117,4.68,1.892,7.293,1.978 c3.108,0.103,5.396-1.123,6.808-3.85c0.793-1.532,1.365-3.18,2.067-4.76c0.833-1.871,0.787-3.825,0.61-5.795 C36.171,60.82,35.468,60.41,34.726,60.647z M109.694,28.693c-0.436-0.875-1.891-1.554-2.98-1.341 c-0.445,0.087-0.882,0.263-1.296,0.453c-0.733,0.337-1.439,0.737-2.176,1.067c-0.262,0.119-0.607,0.504-0.854-0.002 c-0.086-0.174-0.072-0.459,0.01-0.644c1.114-2.484,1.423-5.095,1.22-7.808c0-1.131-0.036-2.289,0.008-3.442 c0.085-2.275-1.523-3.413-3.411-3.616c-1.002-0.106-2.135-0.034-3.055,0.338c-2.766,1.117-4.861,3.113-6.267,5.723 c-1.176,2.181-0.616,4.482,1.192,5.895c0.555,0.434,1.342,0.371,1.897-0.114c0.73-0.642,1.125-1.463,1.26-2.396 c0.142-0.995,0.736-1.675,1.447-2.281c0.253-0.215,0.595-0.324,0.896-0.481c0.133,0.391,0.409,0.794,0.373,1.17 c-0.108,1.138-0.195,2.312-0.549,3.386c-0.467,1.415-1.192,2.742-1.788,4.114c-0.502,1.161-1.043,2.312-1.44,3.509 c-0.166,0.503-0.164,1.188,0.046,1.663c0.59,1.329,1.613,2.336,3.112,2.445c1.368,0.1,2.891,0.253,4.11-0.224 c2.566-1,5.012-2.335,7.44-3.658C109.995,31.848,110.299,29.908,109.694,28.693z M56.888,54.541 c-0.343,0.008-0.695,0.052-1.023,0.145c-2.662,0.764-5.338,1.488-7.973,2.34c-1.087,0.351-2.133,0.9-3.106,1.508 c-0.556,0.35-1.05,0.932-1.354,1.52c-0.927,1.795,0.396,3.911,2.555,3.966c0.2-0.023,0.56-0.011,0.885-0.109 c2.539-0.775,5.085-1.537,7.604-2.376c1.324-0.44,2.559-1.117,3.494-2.185c0.447-0.51,0.861-1.104,1.099-1.733 C59.674,56.021,58.56,54.498,56.888,54.541z M44.205,56.377c3.123-0.803,6.182-1.795,8.912-3.549 c0.639-0.41,1.139-1.126,1.535-1.801c0.739-1.259,0.251-2.464-1.094-3.107c-1.116-0.533-2.23-0.445-3.352-0.085 c-2.619,0.845-5.249,1.661-7.843,2.583c-0.734,0.261-1.408,0.781-2.015,1.295c-1.208,1.022-1.055,3.029,0.25,3.861 c0.886,0.566,1.845,0.93,3.066,0.854C43.748,56.421,43.985,56.434,44.205,56.377z"/> </g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg> ');
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item ::deep .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .nav-scrollable {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
