@page "/disciplines"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorAcademyHW.Data.BlazorAcademyHWContext DB
@using BlazorAcademyHW.Models

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="disciplines/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Discipline">
    <PropertyColumn Property="discipline => discipline.DisciplineName" />
    <PropertyColumn Property="discipline => discipline.NumberOfLessons" />

    <TemplateColumn Context="discipline">
        <a href="@($"disciplines/edit?disciplineid={discipline.DisciplineId}")">Edit</a> |
        <a href="@($"disciplines/details?disciplineid={discipline.DisciplineId}")">Details</a> |
        <a href="@($"disciplines/delete?disciplineid={discipline.DisciplineId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
