@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Students">
    <PropertyColumn Property="students => students.LastName" />
    <PropertyColumn Property="students => students.FirstName" />
    <PropertyColumn Property="students => students.MiddleName" />
    <PropertyColumn Property="students => students.BirthDate" />
    <PropertyColumn Property="students => students.Email" />
    <PropertyColumn Property="students => students.Phone" />
    <PropertyColumn Property="students => students.Photo" />
    <PropertyColumn Property="students => students.Group" />

    <TemplateColumn Context="students">
        <a href="@($"students/edit?studid={students.StudId}")">Edit</a> |
        <a href="@($"students/details?studid={students.StudId}")">Details</a> |
        <a href="@($"students/delete?studid={students.StudId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
