@page "/students"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="studentsQuery" TGridItem="Students">
    <PropertyColumn Property="s => s.LastName" />
    <PropertyColumn Property="s => s.FirstName" />
    <PropertyColumn Property="s => s.MiddleName" />
    <PropertyColumn Property="s => s.BirthDate" />
    <PropertyColumn Property="s => s.Email" />
    <PropertyColumn Property="s => s.Phone" />
    <PropertyColumn Property="s => s.Photo" />
    <TemplateColumn Title="Группа" Context="student">
        @(student.GroupNm?.GroupName ?? "—")
    </TemplateColumn>

    <TemplateColumn Context="student">
        <a href="@($"students/edit?studid={student.StudId}")">Edit</a> |
        <a href="@($"students/details?studid={student.StudId}")">Details</a> |
        <a href="@($"students/delete?studid={student.StudId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;
    private IQueryable<Students> studentsQuery = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        studentsQuery = context.Students
            .Include(s => s.GroupNm);
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}