@page "/factorial"
@rendermode InteractiveServer

<PageTitle>Factorial</PageTitle>
<h3>Factoril</h3>
<input type="number" min="0" @bind="n" @bind:after ="Calculate"/>
<div>@n! = @factorial</div>

@code {
    int n;
    int factorial;
    void Calculate()
    {
        factorial = 1;    
        for (int i = 1; i <= n; i++)
        {
            factorial *= i;
        }
    }
}
