@page "/directions/details"
@inject BlazorAcademyHW.Data.BlazorAcademyHWContext DB
@using BlazorAcademyHW.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h4>Direction</h4>
    <hr />
    @if (direction is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">DirectionName</dt>
            <dd class="col-sm-10">@direction.DirectionName</dd>
        </dl>
        <div>
            <a href="@($"/directions/edit?directionid={direction.DirectionId}")">Edit</a> |
            <a href="@($"/directions")">Back to List</a>
        </div>
    }
</div>

@code {
    Direction? direction;

    [SupplyParameterFromQuery]
    public byte DirectionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        direction = await DB.Direction.FirstOrDefaultAsync(m => m.DirectionId == DirectionId);

        if (direction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
