@page "/Directions/edit"
@inject BlazorAcademyHW.Data.BlazorAcademyHWContext DB
@using BlazorAcademyHW.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Direction</h4>
<hr />
@if (Direction is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Direction" OnValidSubmit="UpdateDirection" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Direction.DirectionId" value="@Direction.DirectionId" />
                <div class="mb-3">
                    <label for="directionname" class="form-label">DirectionName:</label>
                    <InputText id="directionname" @bind-Value="Direction.DirectionName" class="form-control" />
                    <ValidationMessage For="() => Direction.DirectionName" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/directions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public byte DirectionId { get; set; }

    [SupplyParameterFromForm]
    public Direction? Direction { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Direction ??= await DB.Direction.FirstOrDefaultAsync(m => m.DirectionId == DirectionId);

        if (Direction is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more details, see https://aka.ms/RazorPagesCRUD.
    public async Task UpdateDirection()
    {
        DB.Attach(Direction!).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!DirectionExists(Direction!.DirectionId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/directions");
    }

    bool DirectionExists(byte directionid)
    {
        return DB.Direction.Any(e => e.DirectionId == directionid);
    }
}
