@page "/disciplines/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Create Discipline</PageTitle>

<h1>Create Discipline</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <EditForm Model="newDiscipline" OnValidSubmit="HandleValidSubmit" FormName="create-discipline">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="mb-3">
                <label class="form-label">Discipline Name:</label>
                <InputText class="form-control" @bind-Value="newDiscipline.DisciplineName" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Number of Lessons:</label>
                <InputNumber class="form-control" @bind-Value="newDiscipline.NumberOfLessonsInput" />
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a href="/disciplines" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Disciplines newDiscipline = new Disciplines();

    private async Task HandleValidSubmit()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        
        var discipline = new Disciplines
        {
            DisciplineName = newDiscipline.DisciplineName,
            NumberOfLessons = (byte)Math.Clamp(newDiscipline.NumberOfLessonsInput, 0, 255)
        };
        
        context.Disciplines.Add(discipline);
        await context.SaveChangesAsync();
        
        Navigation.NavigateTo("/disciplines");
    }
}