@page "/disciplines/create"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Disciplines</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Disciplines" OnValidSubmit="AddDisciplines" FormName="create-disciplines" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />
            
            <div class="mb-3">
                <label for="disciplinename" class="form-label">DisciplineName:</label>
                <InputText id="disciplinename" @bind-Value="Disciplines.DisciplineName" class="form-control" />
                <ValidationMessage For="@(() => Disciplines.DisciplineName)" class="text-danger" />
            </div>
            
            <div class="mb-3">
                <label for="numberoflessons" class="form-label">NumberOfLessons:</label>
                <InputNumber id="numberoflessons" @bind-Value="Disciplines.NumberOfLessons" class="form-control" />
                <ValidationMessage For="@(() => Disciplines.NumberOfLessons)" class="text-danger" />
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/disciplines">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Disciplines Disciplines { get; set; } = new();

    private async Task AddDisciplines()
    {
        using var context = DbFactory.CreateDbContext();
        context.Disciplines.Add(Disciplines);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/disciplines");
    }
}