@page "/disciplines/delete"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Discipline</PageTitle>

<h1>Delete Discipline</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <hr />
    @if (discipline is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-3">Discipline Name</dt>
            <dd class="col-sm-9">@discipline.DisciplineName</dd>
            
            <dt class="col-sm-3">Number of Lessons</dt>
            <dd class="col-sm-9">@discipline.NumberOfLessons</dd>
        </dl>
        
        <EditForm Model="discipline" OnValidSubmit="DeleteDiscipline" FormName="delete-discipline">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/disciplines" class="btn btn-secondary ms-2">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Disciplines? discipline;

    [SupplyParameterFromQuery]
    private int DisciplineId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        discipline = await context.Disciplines.FirstOrDefaultAsync(m => m.DisciplineId == (short)DisciplineId);

        if (discipline is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteDiscipline()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var disciplineToDelete = await context.Disciplines.FindAsync((short)DisciplineId);
        if (disciplineToDelete != null)
        {
            context.Disciplines.Remove(disciplineToDelete);
            await context.SaveChangesAsync();
        }
        NavigationManager.NavigateTo("/disciplines");
    }
}