@page "/disciplines/details"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory

<h3>Discipline Details</h3>
@if (discipline != null)
{
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@discipline.DisciplineName</dd>
        <dt class="col-sm-2">Number of Lessons</dt>
        <dd class="col-sm-10">@discipline.NumberOfLessons</dd>
    </dl>
    <h4>Teachers who can teach</h4>
    @if (discipline.TeacherDisciplines != null && discipline.TeacherDisciplines.Any())
    {
        <ul>
            @foreach (var td in discipline.TeacherDisciplines)
            {
                <li>@td.Teacher?.LastName @td.Teacher?.FirstName</li>
            }
        </ul>
    }
    else
    {
        <p>No teachers assigned.</p>
    }
}
<a href="/disciplines">Back to List</a>

@code {
    [SupplyParameterFromQuery]
    public int DisciplineId { get; set; }
    
    private Disciplines? discipline;

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        discipline = await context.Disciplines
            .Include(d => d.TeacherDisciplines!)
            .ThenInclude(td => td.Teacher)
            .FirstOrDefaultAsync(d => d.DisciplineId == (short)DisciplineId);
    }
}