@page "/disciplines/edit"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Edit Discipline</PageTitle>

<h1>Edit Discipline</h1>

<hr />

@if (editDiscipline == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <EditForm Model="editDiscipline" OnValidSubmit="HandleValidSubmit" FormName="edit-discipline">
                <DataAnnotationsValidator />
                <ValidationSummary />
                
                <div class="mb-3">
                    <label class="form-label">Discipline Name:</label>
                    <InputText class="form-control" @bind-Value="editDiscipline.DisciplineName" />
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Number of Lessons:</label>
                    <InputNumber class="form-control" @bind-Value="editDiscipline.NumberOfLessonsInput" />
                </div>
                
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="/disciplines" class="btn btn-secondary ms-2">Cancel</a>
                </div>
            </EditForm>
        </div>
    </div>
}

@code {
    [SupplyParameterFromQuery]
    public int DisciplineId { get; set; }
    
    private Disciplines? editDiscipline;

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        
        editDiscipline = await context.Disciplines
            .FirstOrDefaultAsync(d => d.DisciplineId == (short)DisciplineId);
    }

    private async Task HandleValidSubmit()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        
        var disciplineInDb = await context.Disciplines
            .FirstAsync(d => d.DisciplineId == (short)DisciplineId);
            
        disciplineInDb.DisciplineName = editDiscipline!.DisciplineName;
        disciplineInDb.NumberOfLessons = (byte)Math.Clamp(editDiscipline.NumberOfLessonsInput, 0, 255);
        
        await context.SaveChangesAsync();
        Navigation.NavigateTo("/disciplines");
    }
}