@page "/disciplines"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="disciplines/create">Create New</a>
</p>

<div>
    <QuickGrid Class="table" Items="context.Disciplines" Pagination="pagination">
        <PropertyColumn Property="disciplines => disciplines.DisciplineName" Sortable="true" />
        <PropertyColumn Property="disciplines => disciplines.NumberOfLessons" Sortable="true" />

        <TemplateColumn Context="disciplines">
            <a href="@($"disciplines/edit?disciplineid={disciplines.DisciplineId}")">Edit</a> |
            <a href="@($"disciplines/details?disciplineid={disciplines.DisciplineId}")">Details</a> |
            <a href="@($"disciplines/delete?disciplineid={disciplines.DisciplineId}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination" />
</div>

@code {
    private BlazorAcademyHWContext context = default!;
    private PaginationState pagination = new() { ItemsPerPage = 10 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
