@page "/students"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorAcademyHW.Data.Pd321Context DB
@using BlazorAcademyHW.Models

@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Data



<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="students/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Students">
    <PropertyColumn Property="student => student.LastName" />
    <PropertyColumn Property="student => student.FirstName" />
    <PropertyColumn Property="student => student.MiddleName" />
    <PropertyColumn Property="student => student.BirthDate" />
    <PropertyColumn Property="student => student.Email" />
    <PropertyColumn Property="student => student.Phone" />
    <PropertyColumn Property="student => student.Photo" />
    <PropertyColumn Property="student => student.Group" />

    <TemplateColumn Context="student">
        <a href="@($"students/edit?studid={student.StudId}")">Edit</a> |
        <a href="@($"students/details?studid={student.StudId}")">Details</a> |
        <a href="@($"students/delete?studid={student.StudId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>
