<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Numerics</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dec2Bin ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dec2Bin
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dec2Hex">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dec2Hex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bin2Dec">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bin2Dec
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="bin2Hex">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bin2Hex
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hex2Dec">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hex2Dec
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hex2Bin">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hex2Bin
            </NavLink>
        </div>
    </nav>
</div>

