@page "/directions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="directions/create">Create New</a>
</p>

<div>
    <QuickGrid Class="table" Items="context.Directions" Pagination="pagination">
        <PropertyColumn Property="directions => directions.DirectionName" Sortable="true" />

        <TemplateColumn Context="directions">
            <a href="@($"directions/edit?directionid={directions.DirectionId}")">Edit</a> |
            <a href="@($"directions/details?directionid={directions.DirectionId}")">Details</a> |
            <a href="@($"directions/delete?directionid={directions.DirectionId}")">Delete</a>
        </TemplateColumn>
    </QuickGrid>
    <Paginator State="pagination" />
</div>

@code {
    private BlazorAcademyHWContext context = default!;
    private PaginationState pagination = new() { ItemsPerPage = 3 };

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
