@page "/teachers/create"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager Navigation

<PageTitle>Create Teacher</PageTitle>

<h1>Create Teacher</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <EditForm Model="newTeacher" OnValidSubmit="HandleValidSubmit" FormName="create-teacher">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="mb-3">
                <label class="form-label">Last Name:</label>
                <InputText class="form-control" @bind-Value="newTeacher.LastName" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">First Name:</label>
                <InputText class="form-control" @bind-Value="newTeacher.FirstName" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Middle Name:</label>
                <InputText class="form-control" @bind-Value="newTeacher.MiddleName" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Birth Date:</label>
                <InputDate class="form-control" @bind-Value="newTeacher.BirthDate" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Email:</label>
                <InputText class="form-control" @bind-Value="newTeacher.Email" type="email" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Phone:</label>
                <InputText class="form-control" @bind-Value="newTeacher.Phone" type="tel" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Work Since:</label>
                <InputDate class="form-control" @bind-Value="newTeacher.WorkSince" />
            </div>
            
            <div class="mb-3">
                <label class="form-label">Rate:</label>
                <InputNumber class="form-control" @bind-Value="newTeacher.Rate" />
            </div>
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Create</button>
                <a href="/teachers" class="btn btn-secondary ms-2">Cancel</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Teachers newTeacher = new Teachers();

    private async Task HandleValidSubmit()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        
        // Создаем новый объект без навигационных свойств
        var teacher = new Teachers
        {
            LastName = newTeacher.LastName,
            FirstName = newTeacher.FirstName,
            MiddleName = newTeacher.MiddleName,
            BirthDate = newTeacher.BirthDate,
            Email = newTeacher.Email,
            Phone = newTeacher.Phone,
            WorkSince = newTeacher.WorkSince,
            Rate = newTeacher.Rate
        };
        
        context.Teachers.Add(teacher);
        await context.SaveChangesAsync();
        
        Navigation.NavigateTo("/teachers");
    }
}