@page "/groups/create"
@inject BlazorAcademyHW.Data.BlazorAcademyHWContext DB
@using BlazorAcademyHW.Models
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm Model="Group" OnValidSubmit="AddGroup">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            
            <div class="mb-3">
                <label for="groupname" class="form-label">GroupName:</label>
                <InputText id="groupname" @bind-Value="Group.GroupName" class="form-control" />
                <ValidationMessage For="() => Group.GroupName" class="text-danger" />
            </div>
            
            <div class="mb-3">
                <label for="direction" class="form-label">Direction:</label>
                @* Используем input type="number" для byte? *@
                <input type="number" id="direction" @bind="Group.Direction"
                       class="form-control" min="1" max="255" step="1" />
                <ValidationMessage For="() => Group.Direction" class="text-danger" />
            </div>
            
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    private Group Group { get; set; } = new();

    private async Task AddGroup()
    {
        DB.Group.Add(Group);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/groups");
    }
}