@page "/groups/edit"
@inject BlazorAcademyHW.Data.Pd321Context DB
@using BlazorAcademyHW.Models
@inject NavigationManager NavigationManager
@using Microsoft.EntityFrameworkCore

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h4>Group</h4>
<hr />

@if (Group is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm Model="Group" OnValidSubmit="UpdateGroup">
                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" />
                
                <div class="mb-3">
                    <label for="groupname" class="form-label">GroupName:</label>
                    <InputText id="groupname" @bind-Value="Group.GroupName" class="form-control" />
                    <ValidationMessage For="() => Group.GroupName" class="text-danger" />
                </div>
                
                <div class="mb-3">
                    <label for="direction" class="form-label">Direction:</label>
                    <input type="number" id="direction" @bind="Group.Direction"
                           class="form-control" min="1" max="255" step="1" />
                    <ValidationMessage For="() => Group.Direction" class="text-danger" />
                </div>
                
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/groups">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int GroupId { get; set; }
    
    private Group? Group { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Group = await DB.Groups.FirstOrDefaultAsync(m => m.GroupId == GroupId);
        
        if (Group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateGroup()
    {
        if (Group is null) return;
        
        DB.Attach(Group).State = EntityState.Modified;

        try
        {
            await DB.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!GroupExists(Group.GroupId))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/groups");
    }

    private bool GroupExists(int groupId)
    {
        return DB.Groups.Any(e => e.GroupId == groupId);
    }
}