@page "/groups/delete"
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@inject IDbContextFactory<BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete Group</PageTitle>

<h1>Delete Group</h1>

<p>Are you sure you want to delete this group?</p>
<div>
    <hr />
    @if (group is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-3">Group Name</dt>
            <dd class="col-sm-9">@group.GroupName</dd>
            
            <dt class="col-sm-3">Direction</dt>
            <dd class="col-sm-9">@(group.DirectionNM?.DirectionName ?? "No direction")</dd>
        </dl>
        
        <EditForm Model="group" OnValidSubmit="DeleteGroups" FormName="delete-group">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="/groups" class="btn btn-secondary ms-2">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private Groups? group;

    [SupplyParameterFromQuery]
    private int GroupId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        group = await context.Groups
            .Include(g => g.DirectionNM)
            .FirstOrDefaultAsync(m => m.GroupId == GroupId);

        if (group is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteGroups()
    {
        using var context = await DbFactory.CreateDbContextAsync();
        var groupToDelete = await context.Groups.FindAsync(GroupId);
        if (groupToDelete != null)
        {
            context.Groups.Remove(groupToDelete);
            await context.SaveChangesAsync();
        }
        NavigationManager.NavigateTo("/groups");
    }
}