@page "/groups/details"
@using Microsoft.EntityFrameworkCore
@using BlazorAcademyHW.Models
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Groups</h2>
    <hr />
    @if (groups is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">GroupName</dt>
            <dd class="col-sm-10">@groups.GroupName</dd>
            <dt class="col-sm-2">Direction</dt>
            <dd class="col-sm-10">@groups.Direction</dd>
        </dl>
        <div>
            <a href="@($"/groups/edit?groupid={groups.GroupId}")">Edit</a> |
            <a href="@($"/groups")">Back to List</a>
        </div>
    }
</div>

@code {
    private Groups? groups;

    [SupplyParameterFromQuery]
    private int GroupId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        groups = await context.Groups.FirstOrDefaultAsync(m => m.GroupId == GroupId);

        if (groups is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
