@page "/groups"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using BlazorAcademyHW.Models
@using BlazorAcademyHW.Data
@implements IAsyncDisposable
@inject IDbContextFactory<BlazorAcademyHW.Data.BlazorAcademyHWContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="groups/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Groups">
    <PropertyColumn Property="groups => groups.GroupName" />
    <PropertyColumn Property="groups => groups.Direction" />

    <TemplateColumn Context="groups">
        <a href="@($"groups/edit?groupid={groups.GroupId}")">Edit</a> |
        <a href="@($"groups/details?groupid={groups.GroupId}")">Details</a> |
        <a href="@($"groups/delete?groupid={groups.GroupId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private BlazorAcademyHWContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
