@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Movies.Models
@using Movies.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Movies.Data.MoviesContext> DbFactory
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<form action="/movies" data-enchance>
    <input type="search" name="titleFilter" />
    <input type="submit" value="Search" />
</form>

<QuickGrid Class="table" Items="FilteredMovies">
    <PropertyColumn Sortable="true" Property="movie => movie.Title" />
    <PropertyColumn Sortable="true" Property="movie => movie.ReleaseDate" />
    <PropertyColumn Sortable="true" Property="movie => movie.Genre" />

    <TemplateColumn Context="movie">
        <a href="@($"movies/edit?id={movie.Id}")">Edit</a> |
        <a href="@($"movies/details?id={movie.Id}")">Details</a> |
        <a href="@($"movies/delete?id={movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private MoviesContext context = default!;

    [SupplyParameterFromQuery]
    string? TitleFilter { get; set; }

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
    IQueryable<Movie> FilteredMovies => 
    context.Movie.Where(m => m.Title.Contains(TitleFilter ?? string.Empty));
}
