.controls {
    display: flex;
    justify-content: space-between;
}
.controls select
{
    width: 48px;
    height: 30px;
}

::deep {
    .movie-title {
        width: 50%;
    }

    .release-date,
    .genre {
        width: 25%;
    }
}
